---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Gamernes Gamer'>
  <main class='flex flex-col p-4 max-w-4xl'>
    <h1 class='text-7xl font-quantico'>Gamernes Gamer</h1>
    <p>Velkommen til hjemmesida for Gamernes Gamer!</p>
  </main>
</Layout>
