---
interface Props {
  statName: string;
  statValue: number;
  statMin?: number;
  statMax?: number;
}

const { statName, statValue, statMin = 50, statMax = 99 }: Props = Astro.props;
---

<div class='grid-cols-2 grid text-xs h-fit'>
  <p>{statName}</p>
  <p class='text-right'>{statValue}</p>
  <div class='w-full h-1 bg-white col-span-2 relative'>
    <div
      class='h-full absolute top-0 left-0 bg-reddish'
      style=`width: ${Math.round((statValue - statMin) / (statMax - statMin) * 100)}%`
    >
    </div>
  </div>
</div>
