---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Sesong 1 - Gamernes Gamer">
  <section class="flex flex-col gap-4 mt-[30vh] max-w-prose">
    <h1 class="text-4xl sm:text-4xl font-quantico mb-4">Her var det tomt!</h1>
    <p>
      Her vil det (når Jakob tar seg tid til det) legges inn informasjon om
      Sesong 1 av Gamernes Gamer, som fant sted 18. mars 2023.
    </p>
    <a
      href="/"
      class="border-b-reddish border-b-2 hover:text-blueish transition-all max-w-fit"
      >Ta meg tilbake til startsiden</a
    >
  </section>
</Layout>
